.home {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;

  .decoImg {
    height: 300px;
    width: 100%;
    background-image: url(../../img/home.jpeg);
    background-size: cover;
    background-position: bottom left;
    display: flex;
    align-items: center;

    p {
      width: 30%;
      font-size: 70px;
      color: white;
      text-align: center;
      margin-left: 15px;
      animation: typewriter 3s steps(30) 1s 1 normal both,
        blinkTextCursor 500ms infinite;
    }

    @keyframes typewriter {
      from {
        width: 0;
      }
      to {
        width: 710px;
      }
    }

    @keyframes blinkTextCursor {
      from {
        border-right-color: hsl(0, 0%, 80%);
      }
      to {
        border-right-color: transparent;
      }
    }
  }

  h1 {
    font-weight: 500;
  }

  .new {
    text-align: center;
  }

  .posts {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .post {
      height: 400px;
      width: 900px;
      display: flex;
      flex-direction: column;
      width: 35vw;
      gap: 10px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      box-shadow: 0 0px 6px rgb(0 0 0 / 8%);

      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: hidden;
        padding: 0px 20px;
        margin-bottom: 10px;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 18px;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .decoImg {
      height: 200px;
      p {
        font-size: 36px;
      }
    }

    .links .link {
      width: 50px;
      height: 50px;
    }

    .posts {
      margin: 0px 20px;

      .post {
        width: 100%;
        height: fit-content;
        min-height: 300px;

        img {
          max-height: 150px;
        }

        .content {
          h1 {
            font-size: 30px;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}
